@{
    ViewBag.Title = "Список игроков";
}

<h2>@ViewBag.Title</h2>
<p>Всего игроков в системе: @ViewBag.PlayersCount</p>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Ид</td>
            <td>Имя</td>
            <td>Вконтакте</td>
            <td>Дата регистрации</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in @ViewBag.Players)
        {
            var vkId = "id" + a.VkId;
            var vkLink = "https://vk.com/" + vkId;
            var localLink = "/Player/" + a.Id;
        <tr>
            <td>@a.Id</td>
            <td><a href="@localLink"><img class="user-avatar" src="@a.Photo50" width="30" height="30"/> @a.FirstName @a.LastName</a></td>
            <td><a href="@vkLink">@vkId</a></td>
            <td>@a.RegistrationDate</td>
        </tr>
        }
    </tbody>
</table>
<p>@ViewBag.PageIndex / @ViewBag.PageCount</p>