@{
    ViewBag.Title = "Список созданных игр";
}

<h2>@ViewBag.Title</h2>
<table border="1" style="width: 100%">
    <thead>
        <tr>
            <td>Ид</td>
            <td>Дата создания</td>
            <td>Дата последнего изменения</td>
            <td>Описание</td>
            <td>Управление</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in @ViewBag.Games)
        {
            string editLink = $"/Organizer/Editor/{a.Id}";

            <tr>
                <td>@a.Id</td>
                <td>@a.CreateDate</td>
                <td>@a.UpdateDate</td>
                <td>@a.Caption</td>
                <td>
                    <a href="/organizer/editor?id=@a.Id" class="btn btn-default">Редактировать</a>
                    <button name="@a.Id" onclick="verifyGame(@a.Id)" class="btn btn-default">Проверить</button>
                    <button name="@a.Id" onclick="deleteGame(@a.Id)" class="btn btn-default">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <button onclick="addGame()" class="btn btn-default">Добавить</button>
</p>
@Scripts.Render("~/js/game-list.js")
