@{
    ViewBag.Title = "Запуск игры";
}

<h2>@ViewBag.Title</h2>

<select id="launchPanelIdSelect">
    @foreach (var a in @ViewBag.Games)
    {
        <option value="@a.Id">@a.Caption</option>
    }
</select>

<button onclick="launchGame()" class="btn btn-default">Запустить игру</button>

@Scripts.Render("~/js/launch-panel.js")
