@{
    ViewBag.Title = "Запуск игры";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3">
        <select class="form-control" id="launchPanelIdSelect">
            @foreach (var a in @ViewBag.GameProjects)
            {
                <option value="@a.Id">@a.Caption</option>
            }
        </select>
    </div>
    <div class="col-md-1">
        <button onclick="launchGame()" class="btn btn-default">Запустить игру</button>
    </div>
</div>

<ul>
    @foreach (var a in @ViewBag.GameArchives)
    {
        <li>
            <p>@a.Id</p>
            <p>@a.IsTestRun</p>
            <p>@a.StartDate</p>
            <p>@a.EndDate</p>
            <p><textarea class="form-control" style="width: 100%; min-height: 200px;">@a.Log</textarea></p>
        </li>
    }
</ul>
@Scripts.Render("~/js/launch-panel.js")
